.login_wrapper {
  margin: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  padding: 50px 0;
  color: black;
  border-radius: 100% 80% 120% 90%/90% 60% 120% 120%;
  box-shadow: 25px 100px 50px rgba(255, 0, 166, 0.168), inset -6px 6px 10px rgba(247, 254, 49, 0.5058823529), inset 2px 6px 10px #1a74e5, inset 20px -20px 22px white, inset 40px -40px 44px #a8ceff;
}

.label1, .label2 {
  display: block;
  width: 50%;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 2px;
}

.email_field, .password_field, .name_field {
  width: 200px;
  margin: 10px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.email, .password, .name {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-image: linear-gradient(rgb(255, 255, 255) 30%, rgba(0, 0, 0, 0.348));
  border-radius: 12px;
  border: 0;
  outline: none;
  text-align: center;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.303), inset -2px 4px 8px rgba(0, 0, 0, 0.16), inset 0px 5px 8px rgba(0, 0, 0, 0.303), inset 20px -20px 22px white, inset 40px -40px 44px rgba(22, 25, 180, 0.348);
  position: relative;
}

.login_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  width: 100%;
}

.create_acc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.create_acc > p {
  font-size: 14px;
  margin: 5px;
}

.click_login, .click_signup {
  height: 150px;
  width: 200px;
  border-radius: 51% 49% 48% 52%/62% 44% 56% 38%;
  opacity: 0.8;
  border: none;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.click_login {
  box-shadow: inset -6px 6px 10px rgba(131, 49, 254, 0.6745098039), inset 2px 6px 10px rgba(131, 49, 254, 0.6745098039), inset 20px -20px 22px white, inset 40px -40px 44px rgba(131, 49, 254, 0.6745098039);
  background: rgba(131, 49, 254, 0.6745098039);
}

.click_signup {
  background: rgba(207, 18, 166, 0.6745098039);
  position: absolute;
  left: 100%;
  top: -120%;
  box-shadow: inset -6px 6px 10px rgba(207, 18, 166, 0.6745098039), inset 2px 6px 10px rgba(207, 18, 166, 0.6745098039), inset 20px -20px 22px white, inset 40px -40px 44px rgba(207, 18, 166, 0.6745098039);
}

.click_login:hover {
  transform: translateX(-5px);
  transition: all 0.3s ease-in-out;
}

.click_signup:hover {
  transform: translateX(5px);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 560px) {
  .click_signup {
    top: 0;
    left: 0;
    position: relative;
  }
}
.home {
  width: 100%;
}

.sidebar_container {
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, rgba(131, 49, 254, 0.6745098039), #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  width: 450px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.navbar {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar_container, .header {
  padding: 10px;
  display: flex;
  background: rgba(102, 0, 255, 0.8470588235);
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  border-bottom: 1px solid white;
}

.app_logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.backBtn {
  color: white;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.app_logo > h2 {
  margin: 0;
  color: white;
}

.nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0 0 0;
}

.nav_menu {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}

.Msglist::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Msglist {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  overflow-y: scroll;
  /* Firefox */
}

.chats {
  width: 90%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.chat_btn {
  width: 100%;
  border: none;
  margin: 0;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.chat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: white;
}

.msg_overview {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  padding: 0 10px;
}

.msg_overview > p {
  margin: 0;
}

.add_group {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 100%;
  background: white;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

:hover.add_group {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.chatroom_wrapper {
  height: 100vh;
  background: "rgb(255, 255, 255)";
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 25px 100px 50px rgba(255, 0, 166, 0.168), inset -6px 6px 10px rgba(247, 254, 49, 0.5058823529), inset 2px 6px 10px #1a74e5, inset 20px -20px 22px white, inset 40px -40px 44px #a8ceff;
  overflow: hidden;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
 
}
@media screen and (max-width:560px){
  .chatroom_wrapper{
    width: 100%;
  }
}

.chatbox::-webkit-scrollbar {
  display: none;
}

.chat_header {
  display: flex;
  background: rgba(102, 0, 255, 0.8470588235);
  width: 100%;
  justify-content: space-around;
  padding: 0 10px;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  /* border-bottom: 1px solid white; */
  align-items: center;
}

.icon {
  cursor: pointer;
}

.user_name_avatar {
  display: flex;
  align-items: center;
  color: white;
  width: 80%;
}
@media screen and (max-width: 480px) {
  .user_name_avatar {
    width: auto;
  }
}

.user_name_avatar > h3 {
  color: white;
  margin-left: 10px;
}

.chatbox {
  height: 90%;
  padding: 10px;
  width: 99%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  overflow-y: scroll;
}

.chat_bubble_wrapper {
  position: relative;
  width: 50%;
}

.chat_options {
  background: white;
  position: absolute;
  right: 50px;
  top: 60px;
  border-radius: 3px;
  width: 120px;
  display: flex;
  justify-content: center;
}

.chat_options > button {
  border: none;
  text-transform: inherit;
  outline: none;
  text-decoration: none;
  color: rgba(102, 0, 255, 0.8470588235);
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  letter-spacing: 0;
  background-color: transparent;
}

.chat_bubble_wrapper > p {
  margin: 0;
}

.chat_bubble_wrapper > span {
  font-weight: bold;
}

.chat_bubble_wrapper > .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.msginput {
  display: flex;
  bottom: 10px;
  width: 99%;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.msginput > input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 150px;
  padding: 0 10px;
  margin-right: 2px;
}

.camera {
  position: absolute;
  top: 10px;
  right: 55px;
}

.submit {
  border: none;
  background: white;
  border-radius: 100%;
  padding: 10px;
}

.cameraBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .sidebar_container {
    width: 100%;
  }

}
/* KEYFRAMES */
@-webkit-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}
@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}
@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
/* ANIMATIONS */
.x1 {
  -webkit-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 6s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 6s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 5s linear infinite, sideWays 3s ease-in-out infinite alternate;
          animation: animateBubble 5s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 8s linear infinite, sideWays 4s ease-in-out infinite alternate;
          animation: animateBubble 8s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 30%;
  top: 50%;
  transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 0;
  transform: scale(0.8);
}

.x7 {
  -webkit-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 65%;
  top: 70%;
  transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 6s linear infinite, sideWays 3s ease-in-out infinite alternate;
          animation: animateBubble 6s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
          animation: animateBubble 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 9s linear infinite, sideWays 2s ease-in-out infinite alternate;
          animation: animateBubble 9s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  transform: scale(0.3);
}

/* OBJECTS */
.bubble {
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 0.581);
  height: 50px;
  position: absolute;
  width: 50px;
}

.bubble:after {
  background: -moz-radial-gradient(center, ellipse cover, rgba(44, 149, 197, 0.581) 0%, rgba(255, 255, 255, 0) 70%); /* FF3.6+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#80ffffff", endColorstr="#00ffffff",GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  box-shadow: inset 0 20px 30px rgba(197, 195, 44, 0.581);
  content: "";
  height: 40px;
  left: 10px;
  top: 5px;
  position: absolute;
  width: 40px;
}/*# sourceMappingURL=style.css.map */